body {
  margin:0;
  padding:0;
}
div.mainbody {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}
nav.topbar {
  width:100%;
  background-color: #663;
  margin-top: 0px;
  margin-bottom:0px;
  position:fixed;
  left: 0px;
  top:0px;
}
nav.topgear {
  width:25px;
  text-align: right;
  margin-top: 0px;
  margin-bottom:0px;
  position:fixed;
  right: 0px;
  top:0px;
}
h1 {
    color: #cc9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size:xx-large;
  }
  p.topgear {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: medium;
    padding-right: 10px;
    padding-top: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p.topbar {
    color: #cc9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-variant: small-caps;
    font-size: medium;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  h2 {
    color: #663;
    font-family:'Times New Roman', Times, serif;
    font-weight: normal;
    font-variant: small-caps;
    font-size: x-large;
  }
  
  h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    font-weight: normal;
    font-size: small;
  }
  
  p {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
  }
  
  hr{
    height: 2px;
    background-color: #903;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
  }

  /* unvisited link */
a.topbar:link {
  color: #cc9;
  text-decoration: none;
}

/* visited link */
a.topbar:visited {
  color: #cc9;
  text-decoration: none;
}

/* mouse over link */
a.topbar:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
a.topbar:active {
  color: white;
  text-decoration: none;
}