body {
  margin:0;
  padding:0;
}
div.mainbody {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
}
nav.topbar {
  width:100%;
  background-color: #330;
  margin-top: 0px;
  margin-bottom:0px;
  position:fixed;
  left: 0px;
  top:0px;
}
nav.topgear {
  width:25px;
  text-align: right;
  margin-top: 0px;
  margin-bottom:0px;
  position:fixed;
  right: 0px;
  top:0px;
}

p {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

p.topgear {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: medium;
  padding-right: 10px;
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.topbar {
  color: #cc9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-variant: small-caps;
  font-size: medium;
  padding-left: 10px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  }

h1 {
    color: #cc9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:xx-large;
  }

h2 {
  color: #663;
   font-family:'Times New Roman', Times, serif;
   font-weight: normal;
  font-variant: small-caps;
  font-size: x-large;
}
  
h3 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: underline;
  font-weight: normal;
  font-size: small;
}
  
hr{
  height: 2px;
  background-color: #903;
  border: none;
  margin-left: -4px;
  margin-right: -4px;
}

  /* unvisited link in the Navigation Bar */
a.topbar:link {
  font-weight: normal;
  color: #cc9;
  text-decoration: none;
}

/* visited link in the Navigation Bar */
a.topbar:visited {
  font-weight: normal;
  color: #cc9;
  text-decoration: none;
}

/* mouse over link in the Navigation Bar */
a.topbar:hover {
  font-weight: normal;
  color: white;
  text-decoration: none;
}

/* selected link in the Navigation Bar */
a.topbar:active {
  font-weight: normal;
  color: white;
  text-decoration: none;
}
  /* unvisited link */
a:link {
  font-weight: bold;
  color: #903;
  text-decoration: none;
}
  
/* visited link */
a:visited {
  font-weight: bold;
  color: #903;
  text-decoration: none;
}
  
  /* mouse over link */
a:hover {
  font-weight: bold;
  color: #c03;
  text-decoration: underline;
}
  
  /* selected link */
a:active {
  font-weight: bold;
  color: #903;
  text-decoration: underline;
}